src/main/app/coincap-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:request-config name="CoinCapFront_Config" host="${Api.BaseUrl}" port="80" doc:name="HTTP Request Configuration"/>
    <flow name="get-front">
        <http:request config-ref="CoinCapFront_Config" path="/front" method="GET" doc:name="GET coincap.io/front"/>
        <logger message="Description: Front Page Data of current coin stats" level="INFO" doc:name="Logger"/>
        <set-payload value="#[payload]" mimeType="application/json" doc:name="Set Payload"/>
    </flow>
</mule>
